p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
/*Властивість кнопок*/
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
/*Властивості картинок*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Прибирає базові властивості посилань */
.link {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-title-color: #ffffff;
  --body-title-color: #212121;
  --grey: #f5f4fa;
}
/* header */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--body-title-color);
}
.header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--body-title-color);
}
/* Властивості навігації*/
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav-link-portfolio,
.header-nav-link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
/*контакти*/
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
 }
/*прибирає маркери*/
.list {
  marker: none;
}
.work-title {
  font-size: 14px;
  line-height: 1.14;
}

.work-text {
  font-size: 14px;
  line-height: 1.71;
}

.hero {
  text-align: center;
  background-color: #2f303a;
  color: var(--main-title-color);
}
.hero-title {
  text-transform: uppercase;
}
/*стилізація кнопки*/
.btn {
  background-color: #2196f3;
}
.color-header {
  background: var(--grey);
  width: 1600px;
}
.cases-title {
  font-size: 36px;
  line-height: 1.17;
}
.command-title {
   font-size: 36px;
  line-height: 1.17;
}
.command-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.color-footer {
  background-color: #2f303a;
}

.contacts,
.color-tel-black,
.color-mail-black,
.studio-black,
.color-studio-black {
  color: var(--body-title-color);
}
.color-web {
  color: #2196f3;
}

.color-studio,
.color-address,
.color-info {
  color: var(--main-title-color);
}

.color-mail,
.color-maps,
.color-tel {
  color: var(--main-title-color);
  margin: 215px;
}
/*Портфоліо*/
.cursor-btn {
  background: #f5f4fa;
  border-radius: 4px;
}
/*portfolio-title  скриває заголовок*/
.portfolio-title,
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-title-list {
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
